html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  #resetGrid{
    display: flex;
    justify-self: center;
    text-align: center;
  }

#mainContainer{
    display: flex;
    border: 2px solid green;
    flex-direction: column;
    justify-self: center;
    width: 100vh;
    height: 100vh;
    flex: 1 1 0;
}

/* .cells:hover{
    background-color: lightgreen;
    
} */